body {
    background-color: beige;
    margin: 0;
}

header {
    background-color: darkcyan;
    height: 10vh;
}

h1 {
    color: red;
    text-align: center;
    margin: 0;
}

p {
    font-size: 32pt;
    color: darkgray;
}

div {
    height: fit-content;
    /* background-color: blueviolet; */
    margin: 10px 30px;
}

button {
    border-radius: 15px;
}

div > p {font-size: 24pt;}

img {
    height: 275px;
    border: 10px solid black;
}